---
import TemplateList from "../components/TemplateList";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---
<Layout>
	<div>
	</div>
	<TemplateList client:load/>
	<script>
		import { initializeWs } from "../ts/functions";
		initializeWs();
	</script>
</Layout>
